<div class="row" *ngFor="let publication of publ">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>{{publication.title}}</strong></p>
      </div>

     <!--  <img class="card-img" src={{publication.url}} /> -->

      <div class="card-body">
        <p class="card-text">
          <strong>{{publication.username}}</strong>
        </p>

        <hr />
        <input
          type="text"
          class="form-control comentario"
          placeholder="Adicione um comentário..."
        />
      </div>
    </div>
  </div>
</div>
