img {
  position: absolute;
}
.container {
      background-image: url(../../../../assets/logo-acess.png);
      height: 602px;
      width: 379px;
      padding-top: 91px;
      padding-left: 116px;
}
