<div class="container text-center">
  <h1 class="container_titulo">Instagram</h1>
  <div>
    <form [formGroup]="_FormLogin">
    <div class="row">
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Telefone, nome do usuário ou email"
        formControlName="user"
      />
    </div>
    <div class="row">
      <input
        type="password"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        placeholder="Senha"
        formControlName="password"
      />
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary" [disabled]="ValidatorFormOnButton()">Entrar</button>
    </div>
    </form>
    <div class="row">
      <p>OU</p>
    </div>
    <div class="row align-items-center">
      <button type="button" class="btn btn-outline-primary">
        <img
          class="row_facebook"
          src="../../../assets/facebook.png"
          alt="facebook-rede-social-logo-png"
        />
        Entrar com o Facebook
      </button>
      <small
      *ngIf="!_FormLogin.get('user')?.valid && _FormLogin.get('user')?.pristine == false"
      class="form-text text-danger">O nome de usuário inserido não pertence a uma conta. Verifique seu nome de usuário e tente novamente.</small>
      <small
      *ngIf="!_FormLogin.get('password')?.valid && _FormLogin.get('password')?.pristine == false"
      class="form-text text-danger">Sua senha está incorreta. Confira-a.</small>
    </div>
    <div class="row">
      <a href="">Esqueceu a senha?</a>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <p>
      Não tem uma conta?
      <a routerLink="/register">Cadastra-se</a>
    </p>
  </div>
</div>

<div class="container_redes-sociais">
  <div class="row align-items-center text-center">
    <p>Obtenha o Aplicativo</p>
    <div class="col">
      <a
        href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&ct=igweb.loginPage.badge&mt=8&vt=lo"
      >
        <img
          class="col_store-img"
          src="../../../assets/app-store-png-logo-33107.png"
          alt="app-store-png-logo"
        />
      </a>
    </div>
    <div class="col">
      <a
        href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3D69F37F0C-DE0E-40D4-A767-31C69019719E%26utm_content%3Dlo%26utm_medium%3Dbadge"
      >
        <img
          class="col_store-img"
          src="../../../assets/google-play-png-logo-3799.png"
          alt="google-play-png-logo"
        />
      </a>
    </div>
  </div>
</div>
