<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Criar nova publicação</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newPubl" (ngSubmit)="addNewPublication()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Titulo</span>
          <input
          type="text"
          class="form-control"
          placeholder="titulo da postagem"
          aria-label="title"
          aria-describedby="basic-addon1"
          formControlName="title"
          >
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Escolha uma Imagem</label>
            <input
            type="file"
            class="form-control"
            id="inputGroupFile01"
            formControlName="asset"
            (change)="getFile($event)"
            >
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar w-{{valueNowProgress}}" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Incluir Publicação</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>
