  <nav class="navbar fixed-top navbar-light bg-white">
    <div class="container">
      <div class="logo"></div>
      <div class="add-post"></div>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <img class="logo_img"
          src="../../../assets/106230_add_icon.png" alt="">
      </button>
      <a style="cursor: pointer;" (click)="FinishAuth()">Sair</a>
    </div>
  </nav>
  <br /><br /><br />
  <div class="container">
    <app-publications #publications></app-publications>
    <app-new-publications (timeLine)="updateTimeLine()"></app-new-publications>
  </div>
